/* Popup container */
.display-none {
  display: none;
}

// .password-section-p {
//   margin-left: auto;
//   font-size: 14px !important;
// }

.password-section-content {
  display: flex;
  padding-top: 8px;
  margin-left: auto;
  margin-right: auto;

  @include mq(tabletp) {
  }

  @include mq(tabletl) {
    max-width: 70%;
  }

  @include mq(laptop) {
    max-width: 65%;
  }
}

.columnAdjustment{
  max-width: 80% !important;
}
//
// .password-section-input {
//   font-size: 20px;
//   text-align: left;
//   height: 35px;
//   margin-right: 5px;
//   margin-left: auto;
// }

.btn-outline-secondary{
  color: #000000 !important;
  border-color: #000000 !important;
  border-radius: 4px !important;
}

.btn-outline-secondary:hover {
  background-color: #000000 !important;
  color: white !important;
}

.form-control {
border-radius: 4px !important;
margin-right: 8px !important;
}

.input-group {
  width: 50% !important;
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}
