/* Popup container */
.display-none {
  display: none;
}

.password-section-p {
  margin: 0 !important;
  font-size: 14px !important;
}

.password-section-content {
  display: flex;
  padding-top: 8px;
}

.password-section-input {
  font-size: 20px;
  text-align: left;
  height: 35px;
  margin-right: 5px;
}

.btn-outline-secondary{
  color: #000000 !important;
  border-color: #000000 !important;
  border-radius: 4px !important;
}

.btn-outline-secondary:hover {
  background-color: #000000 !important;
  color: white !important;
}

.form-control {
border-radius: 4px !important;
margin-right: 8px !important;
}

.input-group {
  width: 50% !important;
}


/* The Close Button */
.close {
  color: #aaaaaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}